@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    background-image: url("imagenes/software-developer-6521720_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}


/* navbar del inicio */

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;   
}

a {
    text-decoration: none;
}


/* página de experiencia */

html {
    height: 100%;
}

body {
    min-height: 100%;
}



/* animación de la imagen del inicio */

.kenburns-top-left {
	-webkit-animation: kenburns-top-left 5s ease-out both;
	        animation: kenburns-top-left 5s ease-out both;
}

@-webkit-keyframes kenburns-top-left {
    0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
    }
    100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
            transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    }
}
@keyframes kenburns-top-left {
    0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
    }
    100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
            transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    }
}

/* grid */

.grid-container > * {
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "navbar"
    "main"
    "sidebar"
    "footer";
}
